@model OrderViewModel
@{
    ViewBag.PageTitle = "Order Management";
    Layout = "~/Views/Shared/_Dashboard.cshtml";
}
<!DOCTYPE html>
<html>
<head>
    <link href="~/css/orders.css" rel="stylesheet" />
  
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-6">
                <h3 class="mb-4">Pickup Details</h3>
                <form method="POST">
                    <input type="hidden" asp-for="OrderHeader.Id" />

                    <div class="form-group">
                        <label asp-for="OrderHeader.Name">Name</label>
                        <input asp-for="OrderHeader.Name" class="form-control" />
                        <span asp-validation-for="OrderHeader.Name" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="OrderHeader.Phone">Phone</label>
                        <input asp-for="OrderHeader.Phone" class="form-control" />
                        <span asp-validation-for="OrderHeader.Phone" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="OrderHeader.Address">Address</label>
                        <input asp-for="OrderHeader.Address" class="form-control" />
                        <span asp-validation-for="OrderHeader.Address" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="OrderHeader.City">City</label>
                        <input asp-for="OrderHeader.City" class="form-control" />
                        <span asp-validation-for="OrderHeader.City" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="OrderHeader.ApplicationUser.Email">Email</label>
                        <input readonly asp-for="OrderHeader.ApplicationUser.Email" class="form-control" />
                        <span asp-validation-for="OrderHeader.ApplicationUser.Email" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="OrderHeader.OrderDate">Order Date</label>
                        <input readonly value="@Model.OrderHeader.OrderDate.ToShortDateString()" type="text" class="form-control" />
                        <span asp-validation-for="OrderHeader.OrderDate" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="OrderHeader.Carrier">Carrier</label>
                        <input id="carrier" asp-for="OrderHeader.Carrier" class="form-control" />
                        <span asp-validation-for="OrderHeader.Carrier" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="OrderHeader.TrackingNumber">Tracking Number</label>
                        <input id="tracking" asp-for="OrderHeader.TrackingNumber" class="form-control" />
                        <span asp-validation-for="OrderHeader.TrackingNumber" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="OrderHeader.ShippingDate">Shipping Date</label>
                        <input readonly value="@Model.OrderHeader.ShippingDate.ToShortDateString()" type="text" class="form-control" />
                        <span asp-validation-for="OrderHeader.ShippingDate" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="OrderHeader.SessionId">Session Id</label>
                        <input readonly type="text" asp-for="OrderHeader.SessionId" class="form-control" />
                        <span asp-validation-for="OrderHeader.SessionId" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="OrderHeader.PaymentIntenId">Payment Intent Id</label>
                        <input readonly asp-for="OrderHeader.PaymentIntenId" class="form-control" />
                        <span asp-validation-for="OrderHeader.PaymentIntenId" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="OrderHeader.PaymentDate">Payment Date</label>
                        <input readonly value="@Model.OrderHeader.PaymentDate.ToShortDateString()" type="text" class="form-control" />
                        <span asp-validation-for="OrderHeader.PaymentDate" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="OrderHeader.PaymentStatus">Payment Status</label>
                        <input asp-for="OrderHeader.PaymentStatus" class="form-control" />
                        <span asp-validation-for="OrderHeader.PaymentStatus" class="text-danger"></span>
                    </div>

                    <div class="formbold-btn-container">
                        <button type="submit" asp-action="UpdateOrderDetails" class="btn btn-primary">Update Pickup Details</button>
                    </div>
                </form>
            </div>

            <div class="col-6">
                <h3 class="mb-4">Order Summary</h3>
                <div>
                    <label class="btn btn-outline-primary form-control my-2">Order Status - @Model.OrderHeader.OrderStatus</label>
                    <ul class="list-group mb-3">
                        @foreach (var item in Model.OrdersDetails)
                        {
                            <li class="list-group-item d-flex justify-content-between p-3">
                                <div class="row container">
                                    <div class="col-8">
                                        <h6 class="my-0 text-primary">@item.Product.Name</h6>
                                        <small class="text-muted">Price: @item.Product.Price</small>
                                        <br />
                                        <small class="text-muted">Quantity: @item.Count</small>
                                    </div>
                                    <div class="col-4 text-end">
                                        <p class="text-success">@((item.Count * item.Product.Price).ToString("c"))</p>
                                    </div>
                                </div>
                            </li>
                        }
                        <li class="list-group-item d-flex justify-content-between p-2">
                            <div class="row container">
                                <div class="col-8">
                                    <h6 class="my-0 text-primary">Title</h6>
                                    <small class="text-muted">Price :</small><br />
                                    <small class="text-muted">Quantity :</small>
                                </div>
                                <div class="col-4 text-end">
                                    <p class="text-success"></p>
                                </div>
                            </div>
                        </li>

                        <li class="list-group-item bg-dark">
                            <div class="row container">
                                <div class="col-2">
                                    <h5 class="text-white">Total</h5>
                                </div>
                                <div class="col-2 text-end">
                                    <h5 class="text-white">@Model.OrderHeader.TotalPrice.ToString("c")</h5>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>

                <div>
                    @if (Model.OrderHeader.OrderStatus == SD.Approve)
                    {
                        <input asp-action="Proccess" type="submit" class="btn btn-success" value="Process" />
                    }
                    @if (Model.OrderHeader.OrderStatus == SD.Proccessing)
                    {
                        <input asp-action="Fulfill" onclick="return CheckData()" type="submit" class="btn btn-warning" value="Fulfill" />
                    }
                    @if (Model.OrderHeader.OrderStatus != SD.Canceled && Model.OrderHeader.OrderStatus != SD.Refund)
                    {
                        <input asp-action="Cancel" type="submit" class="btn btn-danger" value="Cancel" />
                    }
                </div>
            </div>
        </div>
    </div>
    <script>
        function CheckData() {
            if (document.getElementById('tracking').value != '') {
                return confirm('Are you sure you want to fulfill the order?');
            } else {
                alert('Please enter tracking information before fulfilling the order.');
                return false;
            }
        }
    </script>
</body>
</html>
